/* CSS DOCUMENT*/
body{
    background-color: rgb(236, 236, 217);

}
h1{
    margin: 10px 8px 10px 8px;
    color:rgb(3, 32, 10);
    font-size: 2.5em;
    text-transform: uppercase;
    padding: 10px 8px 10px 8px;
    background-color: rgb(224, 207, 175);
    font-family: sans-serif;
}
h2{
    margin: 10px 8px 10px 8px;
    color:rgb(19, 70, 31);
    font-size: 2em;
    font-family: sans-serif;  
}
h3{
    margin: 10px 8px 10px 8px;
    color:rgb(46, 141, 68);
    font-size: 1.5em;
    font-family: sans-serif;
}
h4{
    margin: 10px 8px 10px 8px;
    color:rgb(120, 207, 140);
    font-size: 1em;
    font-family: sans-serif;
}
p{
    margin: 1em;
    color:(0,0,0);
    font-size: 0.5em;
    font-family: sans-serif;  
}
.emphasized { 
    background-color: rgb(247, 243, 51); 
    font-style: italic; 
}
