/* CSS DOCUMENT*/
body{
    background-color: beige;

}
h1{
    margin: 3em 0.5em 0.5em 3em;
    color:rgb(3, 32, 10);
    font-size: 3em;
    text-transform: uppercase;
    background-color: wheat;
    font-family: sans-serif;
}
h2{
    margin: 3em 8em 0.5em 3em;
    color:rgb(19, 70, 31);
    font-size: 2em;
    font-family: sans-serif;  
}
h3{
    margin: 3em 8em 0.5em 3em;
    color:rgb(46, 141, 68);
    font-size: 1.5em;
    font-family: sans-serif;
}
h4{
    margin: 3em 8em 0.5em 3em;
    color:rgb(120, 207, 140);
    font-size: 1em;
    font-family: sans-serif;
}
p{
    margin: 3em .5em 0.5em 3em;
    color:black;
    font-size: 0.5em;
    font-family: sans-serif;  
}
.emphasized { font-style: italic; }
